21-10/Node-Red/flow.json
[{"id":"dd56483.58d2db8","type":"tab","label":"Project","disabled":false,"info":""},{"id":"5cf6564.4d7d4a8","type":"mqtt in","z":"dd56483.58d2db8","name":"","topic":"/data_AZ_GC","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":110,"y":140,"wires":[["82d965fb.512758","3f1f606e.cbaba"]]},{"id":"3f1f606e.cbaba","type":"function","z":"dd56483.58d2db8","name":"","func":"const today = new Date();\nconst year = today.getFullYear();\nconst month = today.getMonth() + 1 // January is 0, WTF Javascript\nconst day = today.getDate();\nconst time = `${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`;\nconst fullDate = `${day}/${month}/${year}`;\nconst temp = [];\nconst hum = []\n// Push date\ntemp.push(`${fullDate} - ${time}`);\nhum.push(`${fullDate} - ${time}`);\n\n// Push humidity value\nhum.push(msg.payload.hum.toFixed(2) + \" bar\")\n\n// Push temperature\ntemp.push(msg.payload.temp.toFixed(2) + \"°\")\n\n//msg.payload =`${fullDate} ${time} - HUM: ${msg.payload.val1.toFixed(2)} bar - TEMP: ${msg.payload.val2.toFixed(2)}°`\nmsg.payload = hum;\nvar newmessage = { payload: temp }\nreturn [msg, newmessage];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["b502ad1f.f0683"],["27848946.682136"]]},{"id":"b502ad1f.f0683","type":"GSheet","z":"dd56483.58d2db8","creds":"11076975.d43f17","method":"append","action":"","sheet":"","cells":"Humidity!A2","flatten":false,"name":"Google Sheet","x":600,"y":100,"wires":[[]]},{"id":"4caa998e.217918","type":"mqtt out","z":"dd56483.58d2db8","name":"","topic":"/data_AZ_GC","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":420,"y":60,"wires":[]},{"id":"79a7cdf.de14634","type":"inject","z":"dd56483.58d2db8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["4caa998e.217918"]]},{"id":"82d965fb.512758","type":"debug","z":"dd56483.58d2db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":220,"wires":[]},{"id":"27848946.682136","type":"GSheet","z":"dd56483.58d2db8","creds":"11076975.d43f17","method":"append","action":"","sheet":"","cells":"Temperature!A2","flatten":false,"name":"Google Sheet","x":600,"y":160,"wires":[[]]},{"id":"735b3bac.99b024","type":"mqtt in","z":"dd56483.58d2db8","name":"","topic":"/check_NFC_code","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":130,"y":320,"wires":[["f8183bb7.029ac8"]]},{"id":"5a304e1e.857cb","type":"mqtt out","z":"dd56483.58d2db8","name":"","topic":"/check_NFC_result","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":970,"y":320,"wires":[]},{"id":"8591bf5a.702ad","type":"function","z":"dd56483.58d2db8","name":"","func":"var codice=msg.code;\nconsole.log(msg.payload.length);\nfor(i=0; i<=msg.payload.length-1; i++){\n    var codiceUser=msg.payload[i]\n    if(codice==codiceUser)\n    {\n        msg.payload=\"OK\";\n        break;\n    }\n    else{\n        msg.payload=\"NO\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":320,"wires":[["5a304e1e.857cb"]]},{"id":"a6f4ccf3.03afb","type":"GSheet","z":"dd56483.58d2db8","creds":"e9b8131a.fca22","method":"get","action":"","sheet":"","cells":"Users!C2:C6","flatten":true,"name":"","x":570,"y":320,"wires":[["8591bf5a.702ad"]]},{"id":"f8183bb7.029ac8","type":"change","z":"dd56483.58d2db8","name":"","rules":[{"t":"set","p":"code","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["a6f4ccf3.03afb"]]},{"id":"23789271.e54d6e","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"11076975.d43f17","type":"gauth"},{"id":"e9b8131a.fca22","type":"gauth"}]