28-10/Server/flow.json
[{"id":"2b697af4.54cc56","type":"tab","label":"28/10","disabled":false,"info":""},{"id":"dee9fe2e.256ce","type":"mqtt in","z":"2b697af4.54cc56","name":"","topic":"/28-10","qos":"2","datatype":"json","broker":"23789271.e54d6e","nl":false,"rap":true,"rh":0,"x":110,"y":160,"wires":[["ea0dbc53.b658c","ff3f8efc.c68dd","c24e725f.775af","41f40790.e313f8","9922a50c.09fd78","3f4b54b1.36b4ac"]]},{"id":"ff3f8efc.c68dd","type":"debug","z":"2b697af4.54cc56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":100,"wires":[]},{"id":"e074daa3.e5c0c8","type":"comment","z":"2b697af4.54cc56","name":"Sensor port","info":"light sensor A0\nhum temp sensor D2\nUltrasonic D0\n","x":910,"y":80,"wires":[]},{"id":"7af4778a.5d5578","type":"ui_chart","z":"2b697af4.54cc56","name":"Temp-Hum","group":"a0668a98.623948","order":16,"width":18,"height":8,"label":"Temp-Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"45","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":180,"wires":[[]]},{"id":"9e1734ab.954018","type":"ui_gauge","z":"2b697af4.54cc56","name":"Light","group":"a0668a98.623948","order":2,"width":5,"height":4,"gtype":"wave","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":240,"wires":[]},{"id":"e7a20a58.e41858","type":"ui_gauge","z":"2b697af4.54cc56","name":"Distance","group":"a0668a98.623948","order":4,"width":5,"height":4,"gtype":"donut","title":"Distance","label":"units","format":"{{value}}","min":0,"max":"520","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"ea0dbc53.b658c","type":"change","z":"2b697af4.54cc56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"hum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["7af4778a.5d5578"]]},{"id":"c24e725f.775af","type":"change","z":"2b697af4.54cc56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["7af4778a.5d5578"]]},{"id":"41f40790.e313f8","type":"change","z":"2b697af4.54cc56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.light","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["9e1734ab.954018"]]},{"id":"9922a50c.09fd78","type":"change","z":"2b697af4.54cc56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.distance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["e7a20a58.e41858"]]},{"id":"ef80590f.da5a18","type":"mqtt out","z":"2b697af4.54cc56","name":"","topic":"/28-10-alert","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23789271.e54d6e","x":510,"y":320,"wires":[]},{"id":"3f4b54b1.36b4ac","type":"function","z":"2b697af4.54cc56","name":"","func":"const {light, distance} = msg.payload;\n\nif(distance > 10)\n{\n    msg.payload='OK';\n}\nelse\n{\n    msg.payload='ALERT';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["ef80590f.da5a18"]]},{"id":"23789271.e54d6e","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a0668a98.623948","type":"ui_group","name":"Interface","tab":"77784352.caa75c","order":1,"disp":true,"width":"18","collapse":false},{"id":"77784352.caa75c","type":"ui_tab","name":"28-10","icon":"dashboard","order":18,"disabled":false,"hidden":false}]